.video {
  object-fit: cover;
  width: 40vw;
  height: 40%;
  position: center center;
  /* z-index: -1; */
}

.hero-container {
  background-color: black;
  height: 100vh;
  width: 100%;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.section {
  scroll-snap-align: center;
  cursor: grab;
}

.section > h1 {
  color: #fff;
  font-size: 30px;
  margin-top: 10px;
}

.section > p {
  margin-top: 8px;
  color: #fff;
  font-size: 15px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 960px) {
  .hero-container > h1 {
    color: #fff;
    font-size: 70px;
    margin-top: -150px;
  }
}

@media screen and (max-width: 768px) {
  .hero-container > h1 {
    color: #fff;
    font-size: 50px;
    margin-top: -100px;
  }

  .hero-container > p {
    font-size: 30px;
  }

  .btn-mobile {
    display: block;
    text-decoration: none;
  }

  .btn {
    width: 100%;
  }
}
